*
!init_cargos.sql
!init_estados.sql
!init_niveles.sql
!init_permisos.sql
!init_seguridad.sql
!init_socios.sql
!init_user.sql
!init_status_acreditacion.sql
!init_tipo_socio.sql
!init_transporte.sql
!init_tipo_deporte.sql
!init_tipo_medio.sql
!init_zonas_acceso.sql
!init_deportes.sql
!init_modalidad_deportiva.sql
!init_participantes.sql
!init_carnets.sql
!init_datos_medicos.sql
!init_atletas.sql
!init_codigo_area.sql
!init_acceso.sql
!init_codigo_cargo.sql
!init_letra.sql
!init_color.sql
!init_palco.sql
!sql
!.gitignore


